EXPO_PUBLIC_THIRDWEB_CLIENT_ID=
EXPO_PUBLIC_VAULT_ADDRESS=0xDA77bf9f41Cc3dFF4f966a1Fa2438CC3a5BBbe4C
EXPO_PUBLIC_MOCK_USDC_ADDRESS=0x59E68C80762c7eC8F1172eD893b32947dacf9Ad1
EXPO_PUBLIC_VERIFIER_URL=https://touchgrass-verifier.touchgrass-adilhusain.workers.dev
